@{
    Layout = "~/Views/Shared/Full.Layout.cshtml";
}

@section Title {
联系我们
}

<style type="text/css">
    
</style>

<div class="bellevues-page-block" style="background: url('@this.Href("~/Contents/Contact.jpg")'); height: 650px">
</div>

<div class="bellevues-page-block bellevues-page-textblock">
    <div>
        <h1>联系我们</h1>

        <h2>产品购买与查询</h2>

        <p>有关产品信息, 购买, 查询, 支持, 账单, 订单或付款的相关问题, 请联系: </p>
        <p>Email: <a href="mailto:service@Bellevues.com" title="产品购买与查询">service@Bellevues.com</a></p>
        
        <h2>倍丽芙欢迎微营销专家加入 </h2>
        
        <p>"倍丽芙面膜微营销", 以"传播正能量, 添彩健康美丽人生"为宗旨, 我们提倡健康护肤, 为人生带来健康美丽, 为美丽健康的人生增添色彩. "倍丽芙面膜微营销" , 打破传统销售模式, 创造性的开发"零投入" 创业模式, 且专兼职均可. 我们旨在帮助更多的有志之士实现创业梦想, 改变生活质量. 加盟详情咨询倍丽芙全国微营销运营中心, 请联系:</p>
        <p>Email: <a href="mailto:sales@Bellevues.com" title="销售支持">sales@Bellevues.com</a></p>
        <p>Tel: +86-13709028585</p>
        
        <h2>网站支持</h2>
        
        <p>有关<a href="@Constants.Url" title="倍丽芙 Bellevues.com">倍丽芙(Bellevues.com)</a>网站的相关问题, 请联系:</p>
        <p>Email: <a href="mailto:admin@Bellevues.com" title="网站支持">admin@Bellevues.com</a></p>
        <p>Tel: +1-3603624675</p>
    </div>
</div>

<div class="bellevues-page-block" style="background: url('@this.Href("~/Contents/Contact2.jpg")'); height: 650px">
</div>