@{
    Layout = "~/Views/Shared/Full.Layout.cshtml";
}

@section Title {
美丽的风景
}

@section NavigationStory{
selected
}

<div class="bellevues-page-block" style="background: url('@this.Href("~/Contents/StoryName.jpg")');">
    <div style="padding: 135px 45px 0 390px;">
        <h1>倍丽芙: 美丽的风景</h1>
        <h1>Belle vues: Beautiful views</h1>
        <h2>倍丽芙(Belle vues)是瑞士法语, 意为美丽的风景, 即Beautiful views.</h2>
        <h2>倍丽芙全系列产品以源自瑞士的天然植物精粹因子为主要成分, 将亲肤活性渗透因子运用至立体护肤技术中, 达到深层滋养肌肤, 润泽, 修复细胞的效果, 让您都拥有完美肤质, 成为所有人眼中的美丽风景.</h2>
    </div>
</div>

<div class="bellevues-page-block" style="background: url('@this.Href("~/Contents/StoryBrand.jpg")');">
    <div style="padding: 120px 350px 0 0; text-align: center;">
        <h1>倍丽芙: 美丽的风景</h1>
        <h2>Belle vues: Beautiful views</h2>
        <h2>源自瑞士, 纯净天然的专业护肤<br />
            让您成为每一个人眼中美丽的风景</h2>
    </div>
</div>

<div class="bellevues-page-block" style="background: url('@this.Href("~/Contents/StoryFeatures.jpg")');">
    <div style="padding: 140px 500px 0 100px;">
        <h1>源自瑞士, 纯净天然</h1>
        <h1>由表及里, 层层滋润</h1>
        <h2>倍丽芙对您肌肤的表皮层和真皮层, 采用有针对性的源自瑞士的纯净天然萃取成分, 通过亲肤活性因子导入到肌肤的基底层, 从而让皮肤表面, 表皮层和真皮层都能享受到由外向内的立体呵护, 使细胞活性得到深度滋养, 让您的肌肤焕发自然的晶莹色泽.</h2>
    </div>
</div>
